body {
   padding-top: 800px;
    margin: 0;
    text-align: center;
   
}
.profile{
    width:300px;
    border-radius: 50%;
    margin-bottom: 50px;
}
#welcome{
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index:9
}
.parallex-inner{
    display: table-cell;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
h1 {

    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.insp{
    width:200px;
    height:200px;
    border-style: solid;
    border-width: 10px;
    border-color: grey;
    margin-left: 20px;
    margin-bottom: 20px;
}
html{
    scroll-behavior: smooth;
}
#inspiration img{
transition: transform .2s;
}

#inspiration img:hover {
    transform: scale(0.9);
}
#place {
    font-size: 60px;
    line-height: 1.2;
   font-family: 'MonteCarlo', cursive;
}
#inspiration{
    background-color: cadetblue;
}
#about {

    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}


p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu{
    list-style: none;
    top:10px;
    right:30px;
    position:absolute;
    z-index: 10;
    cursor: pointer;
   

}
.links{
    float:left;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: fantasy;
    font-size: 20px; 
    color: deeppink;
}
.links:hover{
    background-color:dodgerblue;
}
#song{
    text-align: center;
}

